In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("C:/Users/91914/Downloads/Data_companies/companies.csv")

In [5]:
df.head()

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
0,c:1,0,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,...,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071,15.5
1,c:10,1,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,...,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467,NaN
2,c:100,2,Company,100,NaN,There,there,/company/there,games_video,acquired,...,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525,NaN
3,c:10000,3,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN,NaN
4,c:10001,4,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN,NaN

In [7]:
#Step 1: Checking the percentage of NaN (null) values present in each feature
nan_percentage = df.isnull().mean() * 100
print("Percentage of NaN values in each feature:\n", nan_percentage)

Percentage of NaN values in each feature:
 id                       0.000000
Unnamed: 0.1             0.000000
entity_type              0.000000
entity_id                0.000000
parent_id              100.000000
name                     0.011193
normalized_name          0.013228
permalink                0.000000
category_code           37.326828
status                   0.000000
founded_at              53.586564
closed_at               98.667026
domain                  35.617874
homepage_url            35.617874
twitter_username        58.997828
logo_url                43.979486
logo_width              43.979486
logo_height             43.979486
short_description       96.371971
description             53.168865
overview                35.401139
tag_list                58.559778
country_code            55.233448
state_code              74.102151
city                    57.319400
region                   0.000000
first_investment_at     98.685851
last_investment_at      98.685851
investment_rounds       98.681780
invested_companies      98.681780
first_funding_at        83.970227
last_funding_at         83.970227
funding_rounds          83.868473
funding_total_usd       85.818583
first_milestone_at      53.346426
last_milestone_at       53.346426
milestones              53.346426
relationships           34.029498
created_by              20.869689
created_at               0.000000
updated_at               0.000000
lat                     57.338733
lng                     57.338733
ROI                     99.630634
dtype: float64

In [8]:
# Step 2: Removing duplicates
df = df.drop_duplicates()

In [9]:
# Step 3: Dropping columns which have NaN values
threshold = 50  
columns_to_drop = nan_percentage[nan_percentage > threshold].index
df = df.drop(columns=columns_to_drop)

In [ ]:
# Step 4: Remove unnecessary and corrupted data
# Assuming unnecessary columns are identified
unnecessary_columns = ['normalized_name', 'entity_id', 'short_description']
df = df.drop(columns=unnecessary_columns, errors='ignore')  # 'errors' set to ignore in case columns are already dropped

In [10]:
# Step 5: Data Labelling 
# Labeling target variable 'status' to numerical values
status_mapping = {'Operating': 0, 'IPO': 1, 'Acquired': 2, 'Closed': 3}
df['status'] = df['status'].map(status_mapping)

In [14]:
df.head(10)

,id,Unnamed: 0.1,entity_type,entity_id,name,normalized_name,permalink,category_code,status,domain,homepage_url,logo_url,logo_width,logo_height,overview,region,relationships,created_by,created_at,updated_at
0,c:1,0,Company,1,Wetpaint,wetpaint,/company/wetpaint,web,NaN,wetpaint-inc.com,http://wetpaint-inc.com,http://s3.amazonaws.com/crunchbase_prod_assets...,401.0,54.0,Wetpaint is a technology platform company that...,Seattle,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,1,Company,10,Flektor,flektor,/company/flektor,games_video,NaN,flektor.com,http://www.flektor.com,http://s3.amazonaws.com/crunchbase_prod_assets...,186.0,85.0,Flektor is a rich-media mash-up platform that ...,Los Angeles,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,2,Company,100,There,there,/company/there,games_video,NaN,there.com,http://www.there.com,http://s3.amazonaws.com/crunchbase_prod_assets...,107.0,34.0,There.com is an online virtual world where any...,SF Bay,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,3,Company,10000,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,NaN,mywebbo.com,http://www.mywebbo.com,NaN,NaN,NaN,"BRAND NEW ONLINE SOCIAL NETWORKING WEBSITE,FOR...",unknown,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,4,Company,10001,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,NaN,themoviestreamer.com,http://themoviestreamer.com,http://s3.amazonaws.com/crunchbase_prod_assets...,200.0,74.0,This company shows free movies online on their...,unknown,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18
5,c:10002,5,Company,10002,Synergie Media,synergie media,/company/synergie-media,advertising,NaN,synergie-media.com,http://www.synergie-media.com,http://s3.amazonaws.com/crunchbase_prod_assets...,284.0,48.0,Synergie Media is a Dutch and Moroccan Web Des...,Agadir,2.0,NaN,2008-08-24 17:39:10,2008-09-06 14:19:19
6,c:10003,6,Company,10003,Green Basti Ecosystems,green basti ecosystems,/company/green-basti-ecosystems,cleantech,NaN,NaN,NaN,NaN,NaN,NaN,Creating infrastructure to provide incentives ...,Vadodara,NaN,NaN,2008-08-24 19:49:25,2010-04-22 23:48:20
7,c:100042,7,Company,100042,HostNine,hostnine,/company/hostnine,NaN,NaN,hostnine.com,http://www.hostnine.com,http://s3.amazonaws.com/crunchbase_prod_assets...,187.0,53.0,At HostNine they are commited to continually e...,unknown,1.0,NaN,2011-09-07 00:53:17,2011-12-20 09:09:53
8,c:10005,8,Company,10005,Thomas Publishing,thomas publishing,/company/thomas-publishing,advertising,NaN,thomaspublishing.com,http://www.thomaspublishing.com,http://s3.amazonaws.com/crunchbase_prod_assets...,276.0,47.0,"For more than a century, Thomas Publishing has...",New York,2.0,NaN,2008-08-24 20:21:21,2009-11-19 17:21:00
9,c:100062,9,Company,100062,Vetter Idea Management System,vetter idea management system,/company/vetter-idea-management-system,enterprise,NaN,getvetter.com,http://www.getvetter.com,http://s3.amazonaws.com/crunchbase_prod_assets...,200.0,67.0,Vetter is a web-based system that helps manage...,unknown,2.0,dmurtagh,2011-09-07 01:04:56,2011-09-24 13:13:18